.app {
  margin-top: 40px;
  margin-bottom: 40px;
}

.blocks {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.block {
  display: grid;
  place-items: center;
  min-height: 300px;
  background-color: azure;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  width: 100%;
}

.button-toggle {
  max-width: 200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}

.content {
  display: grid;
  grid-auto-flow: row;
  gap: 30px;
}

ul {
  margin-bottom: 0;
}

